// Renk Paleti
$primary: #2A9D8F ; // Ana renk (Koyu Mavi-Gri)
$secondary: #E9C46A ; // İkincil renk (Açık Gri)
$success: #F4A261 ; // Başarı rengi (Yeşil)
$danger: #D62828 ; // Tehlike rengi (Kırmızı)
$warning: #E76F51 ; // Uyarı rengi (Turuncu)
$info: #264653 ; // Bilgi rengi (Mavi)
$light: #F0EFEB ; // Açık renk (Beyaz)
$dark: #1D3557 ; // Koyu renk (Koyu Mavi-Gri)

// Diğer Özelleştirmeler
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$border-radius: .25rem;
