// Renk Paleti
$primary-dark: #1C1C1C; // Ana renk (Koyu Gri)
$secondary-dark: #2C2C2C; // İkincil renk (Daha Koyu Gri)
$success-dark: #27AE60; // Başarı rengi (Yeşil)
$danger-dark: #E74C3C; // Tehlike rengi (Kırmızı)
$warning-dark: #F39C12; // Uyarı rengi (Turuncu)
$info-dark: #3498DB; // Bilgi rengi (Mavi)
$light-dark: #333333; // Açık renk (Koyu Gri)
$dark-dark: #000000; // Koyu renk (Siyah)